$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e900";
$icon-eye: "\e901";
$icon-heart: "\e902";
$icon-left: "\e903";
$icon-rate: "\e904";
$icon-right: "\e905";
$icon-shap: "\e906";

